.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--preto);

    div{
        width: 100%;
        min-height: 3rem;
        text-align: center;

        border-bottom: 1.5px solid black;

        h1{
            font-size: 3rem;
            margin-bottom: 5px;
        }
    }

    .nav{
        width: 70%;
        height: 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 0 auto;
    }
}